.footer {
  background-color: $Black;
  &_con {
    width: 83%;
    margin: auto;
    &_head {
      display: flex;
      display: flex;
      justify-content: space-between;
      padding-top: 4.3rem;
      @media screen and (max-width: 950px) {
        justify-content: center;
      }
      &_logo {
        @media screen and (max-width: 950px) {
          margin-bottom: 8.7rem;
        }
      }
      &_icons {
        @media screen and (max-width: 950px) {
          display: none;
          visibility: hidden;
        }
        img {
          &:not(:first-child) {
            margin-left: 1.4rem;
            @media screen and (max-width: 950px) {
              margin-left: 3rem;
            }
          }
        }
      }
    }
    &_sub {
      display: flex;
      justify-content: space-between;
      margin-top: 2.8rem;
      padding-bottom: 4.7rem;
      @media screen and (max-width: 950px) {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
      }
      &_list {
        display: flex;
        @media screen and (max-width: 950px) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 10.5rem;
        }
        &_li {
          list-style: none;
          &:not(:last-child) {
            margin-right: 3.6rem;
            @media screen and (max-width: 950px) {
              margin-right: 0rem;
              margin-bottom: 5.5rem;
            }
          }
          &_link {
            text-decoration: none;
            color: $White;
            font-size: 1.4rem;
            font-family: $Josefin;
            font-weight: 400;
            @media screen and (max-width: 950px) {
              font-size: 2.5rem;
            }
          }
        }
      }
      &_ico {
        display: none;
        visibility: hidden;
        @media screen and (max-width: 950px) {
          display: inline-block;
          visibility: visible;
          margin-bottom: 4.7rem;
        }
      }
      &_copy {
        color: $Dark-Gray;
        font-family: $Josefin;
        font-weight: 400;
        font-size: 1.5rem;
        @media screen and (max-width: 950px) {
          font-size: 2.2rem;
        }
      }
    }
  }
}
